/* ================================
# HOME 画面
=================================*/
.l-home {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    padding: 50px 0 0;
}

.l-subPage {
    width: 800px;
    max-width: 90%;
    margin: 0 auto; 
    padding: 50px 0 0;
}