@charset "UTF-8";
/* ================================
#　バリデーションチェックエラー時のアニメーション
=================================*/
.p-flip-move {
  transition: transform 0.5s;
}

.p-flip-enter-active {
  opacity: 0;
  transform: translate3d(0, -30px, 0);
  transition: opacity 1.5s, transform 1.5s;
}

.p-flip-enter-to {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.p-flip-leave-active {
  position: absolute;
  transition: opacity 2s, transform 2s;
}

.p-flip-leave-to {
  opacity: 0;
  transform: translate3d(0, -30px, 0);
}
