//ブレークポイント定義
$breakpoints: (
    'sm': 'screen and (max-width: 576px)',
    'md': 'screen and (max-width: 768px)',
    'lg': 'screen and (max-width: 1000px)',
    'xl': 'screen and (max-width: 1200px)',
) !default;

//メディアクエリ関数
@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

// 色の定義
$color_garbage:#B56060;
$color_txt: #262626;
$color_gray: #dcdcdc;
$color_gray_border: #3f3f3f;
$color_link: #4DBFFF;

$color_heading_follow: rgb(188, 211, 253);
$color_heading_like: rgb(253, 188, 195);
$color_heading_unfollow: rgb(235, 188, 253);
$color_heading_twtschedule: rgb(188, 253, 197);

/* ================================
# タイトル　
=================================*/
//（神ったー）
.mainTitle {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
//Follow, Like, unFollow
.p-heading-area {
    margin-bottom: 0px;
}
/* ================================
#楕円のタイトル
=================================*/
.p-heading__follow {
    background-color: $color_heading_follow;
}
.p-heading__like {
    background-color: $color_heading_like;
}
.p-heading__unfollow {
    background-color: $color_heading_unfollow;
}
.p-heading__twtschedule {
    background-color: $color_heading_twtschedule;
    // background-color: transparent;
}
.p-heading__title {
    background-color: $color_gray;
}

/* ===スクロールバーカスタム=== */
::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-track{
  background: #fff;
  border: none;
  border-radius: 0px;
//   box-shadow: inset 0 0 2px #777; 
}
::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 0px;
  box-shadow: none;
}

/* ================================
#　ユーザー情報
=================================*/
.p-userInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 600px;
    max-width: 95%;
    margin: 0 auto;
    position: relative;

    
}
.p-userInfo__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
}
.p-userInfo__name {
    margin: 10px 0;
}
.p-userInfo__listitem-wrap {
    display: inline-block;
}
.p-userInfo__listitem {
    display: inline-block;
    &:first-child {
        font-weight: bold;
    }
}
.p-userInfo__list {
    margin-right: 10px;
}
.p-userInfo__head {
    text-align: left;
}
.p-userInfo__profile {
    text-align: left;
}
.p-userInfo__logout {
    position: absolute;
    top: 0;
    right: 0;
    &:hover {
        opacity: .50;
        -webkit-transition: .3s;
        transition: .3s;
        cursor: pointer;
    }
}

/* ================================
# message領域
=================================*/
.p-message-area {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    font-size: 0;
    width: 350px;
    height: 80px;
    // border: 2px solid $color_gray_border;
    background: white;
}
.p-message-area__status, .p-message-area__msg {
    display: inline-block;
}
.p-message-area__status {
    font-size: 30px;
    text-align: center;
    line-height: 80px;
    width: 60px;
    vertical-align: middle;
}
.p-message-area__msg {
    height: auto;
    width: 280px;
    font-size: 15px;
    vertical-align: middle;
    color: $color_txt;
    .p-message-area_msg-val {
        height: inherit;
    }
}

.fa-info-circle {
    color: #1e1eb4;
}
.fa-times-circle {
    color: #ff5757;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}

/* ================================
# HOME画面　一覧画面の各リスト
=================================*/

/* ===sidebar=== */

//sidebar アカウント認証
.p-sidebar {
    width: 300px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -300px;
    background-color: white;
    padding: 20px 10px;
    transition: 300ms ease-in;
    z-index: 99;
    &.open {
        left:0
    }
}

.p-sidebar .p-sidebar__btn {
    position: absolute;
    top: 10px;
    left: 305px;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    padding: 0;
}

.p-user-selected {
    color: red;
}

//アカウント名
.p-sidebar__account {
    &:hover {
        opacity: .50;
        -webkit-transition: .3s;
        transition: .3s;
        cursor: pointer;
    }
}


/* ===sidebar END=== */


//メッセージ表示エリア
.info-area {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    height: 100px;
    padding: 10px;
    background-color: $color_gray;
    border: 1px solid $color_gray_border;
}

//動作ステータス表示エリア
.p-status-wrap .p-btn_home-like--exec {
    color: white;
    background-color: #FF7081;
}
.p-status-wrap .p-btn_home-like--stay {
    color: white;
    background-color: rgb(253, 188, 195);
}

.p-status-wrap .p-btn_home-follow--exec {
    color: white;
    background-color: rgb(112, 162, 255);
}
.p-status-wrap .p-btn_home-follow--stay {
    color: white;
    background-color: rgb(188, 211, 253);
}

.p-status-wrap .p-btn_home-unfollow--exec {
    color: white;
    background-color: rgb(167, 112, 255);
}
.p-status-wrap .p-btn_home-unfollow--stay {
    color: white;
    background-color: rgb(235, 188, 253);
}

.p-status-wrap {
    text-align: center;
}

.p-status__item {
    display: inline-block;  
    margin: 20px 20px; 
    @include mq() {
        display:block;
        margin: 10px 10px;
        width: 95%;
    }

}

//リストを囲む要素

.p-main-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.p-list-area {
    width: calc((100% - 40px)/2);
    max-width: 95%;
    margin: 10px 10px 0px;
    &:not(:last-child) {
        margin: 10px 10px 30px;
    }

    @include mq() {
        width: 95%;
    }

}
.p-list-wrap {
    // border-radius: 15px;
    padding: 15px;
    // border: 1px solid $color_gray_border;
    background-color: #fff;
    height: 250px;
    overflow-y: scroll;
}
.p-list__keywordBtn {
    float: right;
    font-size: 15px !important;
    padding: 4px 15px !important;
}

.p-list {
    border-bottom: 1px solid $color_gray_border;
    padding: 15px 0;
}
.p-list__account {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    color: $color_link;
    &:hover {
        opacity: .85;
        -webkit-transition: .3s;
        transition: .3s;
        cursor: pointer;
    }
}
.p-list__date {
    display: inline-block;
    margin-bottom: 5px;
}
.p-list__content {
    width: 100%;
    display: block;
}


/* ================================
# 自動ツイート画面
=================================*/
.p-autotwt-wrap .c-input__label {
    width: auto;
    display: block;
    text-align: left;
    margin-top: 20px;
}
.p-autotwt-wrap .c-input__txt {
    width: 100%;
}
.p-list-autotwt {
    list-style: none;
}

.p-list-autotwt__check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 5px;
}
.p-list-autotwt__wrap {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px; 
}
.p-list-autotwt__date-ttl {
    display: inline-block;
    margin-bottom: 10px;
}
.p-list-autotwt__date-val {
    display: inline-block;
    margin-bottom: 10px;
}
.p-list-autotwt__content-ttl {
    display: inline-block;
}
.p-list-autotwt__content-val {
    display: inline-block;
}


/* ================================
# ユーザー登録画面
=================================*/
.p-error-area {
    color: red;
    margin: 20px 0;
}

/* ================================
# 自動イイネキーワード登録画面  
=================================*/
.l-likePage .p-input__option {
    width: calc(100% - 100px);
    display: inline-block;
}

.l-likePage .p-like-input__txt {
    width: 100%;
}
.p-likeKeyWord-btn {
    
}

/* ================================
# フォロワーサーチキーワード登録画面  
=================================*/
.l-searchKeyPage .p-input__option {
    width: calc(100% - 100px);
    display: inline-block;
}

.l-searchKeyPage .p-like-input__txt {
    width: 100%;
}

/* ================================
# ターゲットアカウント登録画面  
=================================*/
.p-targetacnt-wrap .c-input__txt {
    width: 100%;
}