@charset "UTF-8";
/* ================================
# タイトル　
=================================*/
.mainTitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.p-heading-area {
  margin-bottom: 0px;
  text-align: center;
  padding: 10px;
  height: 151px;
}

/* ================================
#楕円のタイトル
=================================*/
.p-heading__follow {
  background-color: #bcd3fd;
}

.p-heading__like {
  background-color: #fdbcc3;
}

.p-heading__unfollow {
  background-color: #ebbcfd;
}

.p-heading__twtschedule {
  background-color: #97ffb6;
}

.p-heading__title {
  background-color: #dcdcdc;
  margin-bottom: 40px;
}

/* ===スクロールバーカスタム=== */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border: none;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 0px;
  box-shadow: none;
}

/* ================================
#　メニューバー
=================================*/
.p-menu-bar {
  position: absolute;
  top: 10px;
  right: 10px;
}

.p-menu-bar__item {
  display: inline-block;
  margin-right: 10px;
}

/* ================================
#　ユーザー情報
=================================*/
.p-userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 600px;
  max-width: 95%;
  margin: 0 auto;
  position: relative;
}

.p-userInfo__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto;
}

.p-userInfo__name {
  margin: 10px 0;
}

.p-userInfo__listitem-wrap {
  display: inline-block;
}

.p-userInfo__listitem {
  display: inline-block;
}

.p-userInfo__listitem:first-child {
  font-weight: bold;
}

.p-userInfo__list {
  margin-right: 10px;
}

.p-userInfo__head {
  text-align: left;
}

.p-userInfo__profile {
  text-align: left;
}

.p-userInfo__key::before {
  background: linear-gradient(#7c7c7c 0%, #747474 100%);
  color: #f1f1f1;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
}

/* ================================
# message領域
=================================*/
.p-message-area {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
  font-size: 0;
  width: 350px;
  height: 80px;
  background: white;
}

.p-message-area__status, .p-message-area__msg {
  display: inline-block;
}

.p-message-area__status {
  font-size: 30px;
  text-align: center;
  line-height: 80px;
  width: 60px;
  vertical-align: middle;
}

.p-message-area__msg {
  height: auto;
  width: 280px;
  font-size: 15px;
  vertical-align: middle;
  color: #262626;
}

.p-message-area__msg .p-message-area_msg-val {
  height: inherit;
}

.fa-info-circle {
  color: #1e1eb4;
}

.fa-times-circle {
  color: #ff5757;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* ================================
# HOME画面　一覧画面の各リスト
=================================*/
/* ===sidebar=== */
.p-sidebar {
  width: 300px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -300px;
  background-color: white;
  padding: 20px 10px;
  transition: 300ms ease-in;
  z-index: 99;
}

.p-sidebar.open {
  left: 0;
}

.p-sidebar .p-sidebar__btn {
  position: absolute;
  top: 10px;
  left: 305px;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  padding: 0;
}

.p-user-selected {
  color: red;
}

.p-sidebar__account:hover {
  opacity: .50;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

/* ===sidebar END=== */
.info-area {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
  height: 100px;
  padding: 10px;
  background-color: #dcdcdc;
  border: 1px solid #3f3f3f;
}

.p-status-wrap .p-btn_home-like--exec {
  color: white;
  background: #FF7081;
}

.p-status-wrap .p-btn_home-like--stay {
  color: white;
  background: #fdbcc3;
}

.p-status-wrap .p-btn_home-follow--exec {
  color: white;
  background: #70a2ff;
}

.p-status-wrap .p-btn_home-follow--stay {
  color: white;
  background: #bcd3fd;
}

.p-status-wrap .p-btn_home-unfollow--exec {
  color: white;
  background: #a770ff;
}

.p-status-wrap .p-btn_home-unfollow--stay {
  color: white;
  background: #ebbcfd;
}

.p-status-wrap .p-btn_home-mail--exec {
  color: white;
  background: #ffdd92;
}

.p-status-wrap {
  text-align: center;
}

.p-status__item {
  display: inline-block;
  margin: 20px 20px;
  background-color: #dcdcdc;
  padding: 10px 20px;
  text-align: center;
  width: 160px;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .p-status__item {
    display: block;
    margin: 10px 10px;
    width: 95%;
  }
}

.p-main-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.p-list-area {
  width: calc((100% - 40px)/2);
  max-width: 95%;
  margin: 10px 10px 0px;
}

.p-list-area:not(:last-child) {
  margin: 10px 10px 30px;
}

@media screen and (max-width: 768px) {
  .p-list-area {
    width: 95%;
  }
}

.p-list__row-item {
  display: inline-block;
  margin: 10px 0;
  vertical-align: middle;
  color: white;
}

.p-list__row-item:first-child {
  width: calc(100% - 80px);
}

.p-list__btn--follow {
  font-size: 0.8rem;
  padding: 0.2rem;
  width: 70px;
  border-radius: 4px;
  background-color: #70a2ff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  background: linear-gradient(#94b9ff 0%, #70a2ff 100%);
}

.p-list__btn--like {
  font-size: 0.8rem;
  padding: 0.2rem;
  width: 70px;
  border-radius: 4px;
  background-color: #FF7081;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  background: linear-gradient(#ffa3ae 0%, #FF7081 100%);
}

.p-list__btn--twtschedule {
  font-size: 0.8rem;
  padding: 0.2rem;
  width: 70px;
  border-radius: 4px;
  background-color: #63d472;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  background: linear-gradient(#adffb8 0%, #69dd69 100%);
}

.p-list-wrap {
  padding: 15px;
  background-color: #fff;
  height: 250px;
  overflow-y: scroll;
}

.p-list__keywordBtn {
  float: right;
  font-size: 15px !important;
  padding: 4px 15px !important;
}

.p-list {
  border-bottom: 1px solid #3f3f3f;
  padding: 15px 0;
}

.p-list__account {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  color: #4DBFFF;
}

.p-list__account:hover {
  opacity: .85;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.p-list__date {
  display: inline-block;
  margin-bottom: 5px;
}

.p-list__content {
  width: 100%;
  display: block;
}

/* ================================
# 自動ツイート画面
=================================*/
.p-autotwt-wrap .c-input__label {
  width: auto;
  display: block;
  text-align: left;
  margin-top: 20px;
}

.p-autotwt-wrap .c-input__txt {
  width: 100%;
}

.p-list-autotwt {
  list-style: none;
}

.p-list-autotwt__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 5px;
}

.p-list-autotwt__wrap {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
}

.p-list-autotwt__date-ttl {
  display: inline-block;
  margin-bottom: 10px;
}

.p-list-autotwt__date-val {
  display: inline-block;
  margin-bottom: 10px;
}

.p-list-autotwt__content-ttl {
  display: inline-block;
}

.p-list-autotwt__content-val {
  display: inline-block;
}

/* ================================
# ユーザー登録画面
=================================*/
.p-error-area {
  color: red;
  margin: 20px 0;
}

/* ================================
# 自動イイネキーワード登録画面  
=================================*/
.l-likePage .p-input__option {
  width: calc(100% - 100px);
  display: inline-block;
}

.l-likePage .p-like-input__txt {
  width: 100%;
}

/* ================================
# フォロワーサーチキーワード登録画面  
=================================*/
.l-searchKeyPage .p-input__option {
  width: calc(100% - 100px);
  display: inline-block;
}

.l-searchKeyPage .p-like-input__txt {
  width: 100%;
}

/* ================================
# ターゲットアカウント登録画面  
=================================*/
.p-targetacnt-wrap .c-input__txt {
  width: 100%;
}
