
.u-clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.u-tb_only, .u-sp_only {
  display: none;
}

.u-tb_pc {
  display: inherit;
}

.u-sp_tb {
  display: none;
}

.u-flex {
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: -webkit-flex;
  // display: flex;
  // -webkit-box-pack: justify;
  // -ms-flex-pack: justify;
  // -webkit-justify-content: space-between;
  // justify-content: space-between;
  // -webkit-flex-wrap: wrap;
  // flex-wrap: wrap;
  // -webkit-align-items: flex-start;
  // align-items: flex-start;
  // transition: 3s;

  &.start {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  &.end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
  &.center {
    -webkit-justify-content: center;
    justify-content: center;
  }
  &.around {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  &.between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  &.stretch {
    -webkit-align-items: stretch;
    align-items: stretch;
  }
  &.ai_center {
    -webkit-align-items: center;
    align-items: center;
  }
  &.ai_start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  &.ai_end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }
  &.nowrap {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  &.column {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  &.row {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  &.c_reverse {
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  &.r_reverse {
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

.u-noshrink {
  flex: 0 0 auto;
}

.u-grow {
  flex: 1 1 auto;
}

.u-txt_center {
  text-align: center;
}

.u-txt_left {
  text-align: left;
}

.u-txt_right {
  text-align: right;
}

.u-no_mgn {
  margin-bottom: 0;
}

.u-mb5 {
  margin-bottom: 5px;
}

.u-mb10 {
  margin-bottom: 10px;
}

.u-mb15 {
  margin-bottom: 15px;
}

.u-mb20 {
  margin-bottom: 20px;
}

.u-mb25 {
  margin-bottom: 25px;
}

.u-mb30 {
  margin-bottom: 30px;
}

.u-mb35 {
  margin-bottom: 35px;
}

.u-mb40 {
  margin-bottom: 40px;
}

.u-mb45 {
  margin-bottom: 45px;
}

.u-mb50 {
  margin-bottom: 50px;
}

.u-mb55 {
  margin-bottom: 55px;
}

.u-mb60 {
  margin-bottom: 60px;
}

.u-mb65 {
  margin-bottom: 65px;
}

.u-mb70 {
  margin-bottom: 70px;
}

.u-mb75 {
  margin-bottom: 75px;
}

.u-mb80 {
  margin-bottom: 80px;
}

.u-mb85 {
  margin-bottom: 85px;
}

.u-mb90 {
  margin-bottom: 90px;
}

.u-mb95 {
  margin-bottom: 95px;
}

.u-mb100 {
  margin-bottom: 100px;
}

.u-mb105 {
  margin-bottom: 105px;
}

.u-mb110 {
  margin-bottom: 110px;
}

.u-mb115 {
  margin-bottom: 115px;
}

.u-mb120 {
  margin-bottom: 120px;
}

.u-mb125 {
  margin-bottom: 125px;
}

.u-mb130 {
  margin-bottom: 130px;
}

.u-mb135 {
  margin-bottom: 135px;
}

.u-mb140 {
  margin-bottom: 140px;
}

.u-mb145 {
  margin-bottom: 145px;
}

.u-mb150 {
  margin-bottom: 150px;
}

.u-mb05em {
  margin-bottom: 0.5em;
}

.u-mb10em {
  margin-bottom: 1.0em;
}

.u-mb15em {
  margin-bottom: 1.5em;
}

.u-mb20em {
  margin-bottom: 2.0em;
}

.u-mb25em {
  margin-bottom: 2.5em;
}

.u-mb30em {
  margin-bottom: 3.0em;
}

@media (min-width: 768px) and (max-width: 960px) {
  .u-pc_only {
    display: none;
  }
  .u-tb_only {
    display: inherit;
  }
  .u-sp_only {
    display: none;
  }
  .u-tb_pc, .u-sp_tb {
    display: inherit;
  }
}

@media (max-width: 767px) {
 
  .u-pc_only, .u-tb_only {
    display: none;
  }
  .u-sp_only {
    display: inherit;
  }
  .u-tb_pc {
    display: none;
  }
  .u-sp_tb {
    display: inherit;
  }
  #u-map {
    padding-top: 250px;
  }
  .u-noshrink {
    flex: 1 1 auto;
    text-align: center;
  }
  .u-mb5 {
    margin-bottom: calc( 5  / 750 * 100vw);
  }
  .u-mb10 {
    margin-bottom: calc( 10 / 750 * 100vw);
  }
  .u-mb15 {
    margin-bottom: calc( 15 / 750 * 100vw);
  }
  .u-mb20 {
    margin-bottom: calc( 20 / 750 * 100vw);
  }
  .u-mb25 {
    margin-bottom: calc( 25 / 750 * 100vw);
  }
  .u-mb30 {
    margin-bottom: calc( 30 / 750 * 100vw);
  }
  .u-mb35 {
    margin-bottom: calc( 35 / 750 * 100vw);
  }
  .u-mb40 {
    margin-bottom: calc( 40 / 750 * 100vw);
  }
  .u-mb45 {
    margin-bottom: calc( 45 / 750 * 100vw);
  }
  .u-mb50 {
    margin-bottom: calc( 50 / 750 * 100vw);
  }
  .u-mb55 {
    margin-bottom: calc( 55 / 750 * 100vw);
  }
  .u-mb60 {
    margin-bottom: calc( 60 / 750 * 100vw);
  }
  .u-mb65 {
    margin-bottom: calc( 65 / 750 * 100vw);
  }
  .u-mb70 {
    margin-bottom: calc( 70 / 750 * 100vw);
  }
  .u-mb75 {
    margin-bottom: calc( 75 / 750 * 100vw);
  }
  .u-mb80 {
    margin-bottom: calc( 80 / 750 * 100vw);
  }
  .u-mb85 {
    margin-bottom: calc( 85 / 750 * 100vw);
  }
  .u-mb90 {
    margin-bottom: calc( 90 / 750 * 100vw);
  }
  .u-mb95 {
    margin-bottom: calc( 95 / 750 * 100vw);
  }
  .u-mb100 {
    margin-bottom: calc(100 / 750 * 100vw);
  }
  .u-mb105 {
    margin-bottom: calc(105 / 750 * 100vw);
  }
  .u-mb110 {
    margin-bottom: calc(110 / 750 * 100vw);
  }
  .u-mb115 {
    margin-bottom: calc(115 / 750 * 100vw);
  }
  .u-mb120 {
    margin-bottom: calc(120 / 750 * 100vw);
  }
  .u-mb125 {
    margin-bottom: calc(125 / 750 * 100vw);
  }
  .u-mb130 {
    margin-bottom: calc(130 / 750 * 100vw);
  }
  .u-mb135 {
    margin-bottom: calc(135 / 750 * 100vw);
  }
  .u-mb140 {
    margin-bottom: calc(140 / 750 * 100vw);
  }
  .u-mb145 {
    margin-bottom: calc(145 / 750 * 100vw);
  }
  .u-mb150 {
    margin-bottom: calc(150 / 750 * 100vw);
  }
}